<html>
<head>
    <title>Snake Game</title>
    <style>
        canvas {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
{{ JSGlue.include() }}
<canvas id="snake" width="608" height="608"></canvas>
<script type="text/javascript" src="/static/js/snake.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    var auth = '{{ auth }}';
    var secret = '{{ secret }}';
</script>
<div align="center" class="btn-group">
    <div class="row"><button style="font-size:48px" onclick="Up()"><i class="fa fa-chevron-circle-up"></i></button></div>
    <button style="font-size:48px" onclick="Left()"><i class="fa fa-chevron-circle-left"></i></button>
    <button style="font-size:48px" onclick="Down()"><i class="fa fa-chevron-circle-down"></i></button>
    <button style="font-size:48px" onclick="Right()"><i class="fa fa-chevron-circle-right"></i></button>
</div>


</html>