<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>جدول امتیازات</title>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="{{ url_for("static",filename="bootstrap.js") }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

</head>
<body>

<div style="overflow-x:auto;">
    <table id="example" class="table table-striped table-bordered">
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dataTables.bootstrap.min.js') }}"></script>
<script>
    var dataSet = JSON.parse({{ result | tojson }});
    $(document).ready(function () {
        $('#example').DataTable(
            {
                data: dataSet["data"],
                columns: [
                    {title: "#"},
                    {title: "نام"},
                    {title: "امتیاز"},
                ]
            }
        );
    });
</script>


</body>
</html>