<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for("static",filename="bootstrap.css") }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for("static",filename="bootstrap.js") }}"></script>


</head>
<body>

<div style="margin-top: 40px;">
    <div class="container">
        <div class="container col-6" style="float: left">

            <div class="card">
                <div class="card-header bg-primary"><span class="float-right" style="color: #ffffff">ثبت نام</span>
                </div>
                <div class="card-body">
{#                    <form action="http://localhost:5000/Register" method="post">#}
                    <form action="https://onlinesnake-snake.fandogh.cloud/Register" method="post">
                        <div class="container float-right">

                            <form class="float-right">
                                <div class="form-group">
                                    <label class="float-right">نام و نام خانوادگی</label>
                                    <input type="text" id="fullname" name="fullname">
                                </div>
                                <div class="phone">
                                    <label class="float-right">شماره همراه</label>
                                    <input type="text" id="phone" name="phone">
                                </div>
                                <div class="pwd">
                                    <br>
                                    <label class="float-right">رمز عبور</label>
                                    <input type="text" id="pwd" name="pwd">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success">ثبت نام</button>
                            </form>

                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <span>
                    </span>
                </div>
            </div>
        </div>
        <div class="container col-6" style="float: right">

            <div class="card">
                <div class="card-header bg-primary"><span class="float-right" style="color:#ffffff">ورود</span></div>
                <div class="card-body">
{#                    <form action="http://localhost:5000/Login" method="post">#}
                    <form action="https://onlinesnake-snake.fandogh.cloud/Login" method="post">
                        <div class="container">

                            <form class="float-right">
                                <div class="phone">
                                    <label class="float-right">شماره همراه</label>
                                    <input type="text" id="phone" name="phone">
                                </div>
                                <div class="pwd">
                                    <br>
                                    <label class="float-right">رمز عبور</label>
                                    <input type="text" id="pwd" name="pwd">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success">ورود</button>
                            </form>

                        </div>
                    </form>

                </div>
                <div class="card-footer">
                    <span>
                        {% if InvalidPhone %}
                            <div class="alert alert-danger">
  <strong></strong> شماره همراه نامعتبر است.</div>

                        {% endif %}

                        {% if FailedLogin %}
                              <div class="alert alert-danger">
  <strong></strong>کلمه عبور یا شماره همراه اشتباه است.</div>

                        {% endif %}

                    {% if InvalidName%}
                              <div class="alert alert-danger">
  <strong></strong>نام نباید خالی باشد.</div>

                        {% endif %}

                     {% if DuplicatePhone%}
                            <div class="alert alert-danger">
  <strong></strong> شماره همراه قبلا ثبت شده است.</div>

                        {% endif %}

                        {% if ShortPwd %}
                              <div class="alert alert-danger">
  <strong></strong>کلمه عبور باید بیشتر از ۵ کاراکتر باشد.</div>

                        {% endif %}

                    </span>
                </div>
            </div>

        </div>

    </div>
</div>
</body>

</body>
</html>